<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.meta_description }}">
    <title>{{ page_title }}</title>
    <link rel="canonical" href="{{ canonical_url }}">

    {% comment %} All CSS Files {% endcomment %}
    {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
    {{ 'critical.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>


  <body id="{{ page_title |handleize }}" class="{{ template }} {% if template.name=='product'%}{{product.handle}}{% endif %} {% if template.name=='collection'%}{{product.handle}}{% endif %}">

    {% comment %} Header {% endcomment %}
    {% sections 'header-group' %}

    {% comment %} Main Content {% endcomment %}
    <main>
      {{ content_for_layout }}
    </main>
    

  {% comment %} All Javascript files {% endcomment %}
   <script src="{{ 'jquery.js' | asset_url }}" defer></script>
   <script src="{{ 'popper.js' | asset_url }}" defer></script>
   <script src="{{ 'bootstrap.js' | asset_url }}" defer></script>
  </body>
</html>
